<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1.0 "/>
     <link rel="shortcut icon" href="/" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    <h3> This App Is Created By {{author}}</h3>
    <p>This App Uses The <a href="https://www.mapbox.com/" class="linked">Mapbox</a> Api To Geocode The Address You Give To Latitude And Longitude
      And, Send That Data To <a href="https://openweathermap.org/" class="linked">Openweathermap</a> Api To Get The Forecast
    </p>
  </body>
</html>